/* === RESETS === */

*,*::before,*::after{
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}
body{
  user-select: none;
  margin: 0;
  padding: 1.5em 1em;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  background-color: var(--white);
  line-height: 1.4;
  color: var(--dark-gray);
}

ul, li , a{
  user-select: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

li{
  list-style: none;
}


img{
  display: block;
  max-width: 100%;
}


/* === VARIABLES  === */

:root{
 --white: #ffffff;
 --light-gray: #efeeee;
 --dark-gray: #212529;
 --middle-grey: #b9b9b9;
}

/* === FONTS SIZE/COLORS === */




/* === BASE STYLES === */

/* Header */
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendar-btn{
  width: 3em;
  height: 3em;
  padding: 0.3em;
  border-radius: 50%;
  border: 5px solid var(--light-gray);
  background-color: var(--white);
}
.profile-img-div{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--light-gray);
}

.welcome-msg{
  font-size: 1.6rem;

}

/* Nav bar */
.main-nav{
  width: 90%;
  bottom: 2%;
  background-color: var(--dark-gray);
  padding: 1.2em 1.8em;
  border-radius: 0.5em;
  position: fixed;
}
.nav-bar-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-li{
  width: 1.5em;
}

/* Input field*/
.search-container{
  display: flex;
  justify-content: start;
  align-items: center;

}
.search-bar{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  padding: 1em 1em 1em 3em;
  border-radius: 2em;
  font-size: 1rem;
}
.search-btn{
  width: 3em;
  height: 3em;
  padding: 0.5em;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: var(--light-gray);
}

/* Weekly calendar */ 
.weekly-calendar{
  margin-top: 1em;
  padding: 0.5em 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.weekly-calendar-day{
  background-color: var(--light-gray);
  padding: 0.5em;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.1rem;
}
.day-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.day-container > p {
  margin: 0;
}
.day-name{
  font-size: .85rem;
  font-weight: 600;
}

.current-day{
  background-color: salmon;
  color: var(--white);
}

.daily-tasks-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3em;
}

.time-ol{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.subject-ol{
  padding-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;

  border-left: 1px solid var(--middle-grey);
}

.subject-li::before{
  content: " ";
  width: 5px;
  height: 5px;
  background-color: var(--dark-gray);
}


/* === MEDIA QUERIES === */


