/* === RESETS === */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  user-select: none;
  scroll-behavior:smooth;
  background-color: var(--black);
  overflow: scroll;
}

body{ 
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  line-height: 1.4;
  color: var(--white);
}

h1,h2,h3,h4,p{
  margin: 0;
}

ul, ol, li , a{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

input{
  display: block;
}

img{
  display: block;
  max-width: 100%;
}


/* === VARIABLES  === */

/* GENERAL COLORS */
:root{
  --high-prio: hsla(0, 100%, 49%, 0.532);
  --mid-prio: hsl(57, 100%, 50%);
  --low-prio: hsla(136, 100%, 50%, 0.53);
  --white: #eaeaea;
  --gray-300: #9999a2;
  --gray-400: #838b93;
  --gray-500: #6d6d75;
  --gray-600: #5e5c65;
  --gray-700: #36353b;
  --black: #242427;
  --current-day: hsla(158, 94%, 50%, 0.792);

}

/* PRIORITY COLORS */

.High{
  background-color: var(--high-prio);
}

.Mid{
  background-color: var(--mid-prio);
}

.Low{
  background-color: var(--low-prio);
}

/* === BASE STYLES === */

/* Header */
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.month-year{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: 900;
}

/* NAV BAR */
.main-nav{
  width: 90%;
  background-color: var(--gray-700);
  padding: 1.2em 1.8em;
  border-radius: 0.5em;
  position: fixed;
  left: 5%;
  bottom: 1%;
  z-index: 1;
}
.nav-bar-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.open-event-modal-btn{
  border: none;
  background-color: transparent;
  width: 2.7em;
  text-align: center;
  cursor: pointer;
}

/* MODALS */ 

.modals-overlay-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.add-modal-content{
  overflow: scroll;
  padding: 3em 2em;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.close-btn-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.close-modal-btn{
  color: var(--white);
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.create-new-task-text{
  font-size: 1rem;
}

.add-modal-content > div{
  width: 100%;
}

.add-modal-content > div > p{
  color: var(--gray-500);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.3em 0;
}

.add-modal-content > div > input{
  padding: 0.5em 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-700);
  width: 100%;
  color: var(--white);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
}

#priority-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.select-bar{
  background-color: var(--black);
  font-size: 0.8rem;
  padding: 0.1em;
  border-radius: 0.3em;
  border: 1px solid var(--gray-500);
  color: var(--white);
}

.select-bar:hover{
  cursor: pointer;
}

.low-option{
  color: var(--low-prio);
}
.mid-option{
  color: var(--mid-prio);
}
.high-option{
  color: var(--high-prio);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}

.task-title{
  padding: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-700);
  width: 100%;
  color: var(--white);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
}
.time-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}

.time-text{
  color: var(--gray-300);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.3em 0;
}

.time-input{
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 1rem;
}

.color-input-container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.note-textarea{
  padding: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-700);
  width: 100%;
  color: var(--white);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  height: max-content;
  resize: none;
}

.save-btn{
  padding: 1em 3em;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--current-day);
  border: none;
  border-radius: 0.5em;
  color: var(--black);
  align-self: center;
  cursor: pointer;
  transition: background-color 0.15s;
}
.save-btn:hover{
  background-color: hsl(145, 100%, 50%);
}

/* Search INPUT*/

/* Weekly calendar */ 

.weekly-calendar-container{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
  border-bottom: 2px solid var(--gray-700);
  padding: 1em 0;
}

.calendar-displaymonth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-btn{
  margin-left: 1.7em;
  padding:0.4em;
  border-radius: 50%;
  border: 3px solid var(--gray-300);
  background-color: transparent;
  cursor: pointer;
}

.toggle-month-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-month{
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.arrow-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.weekly-calendar-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly-btn{
  border: none;
  color: var(--white);
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}
.weekly-calendar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  padding-bottom: 0.5em;
}
.day-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.3em;
}

.day-container > p {
  margin: 0;
}

.date-circle{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 400;
  width: 48px;
  height: 48px;
  background-color: var(--gray-700);
  color: var(--white);
  cursor: pointer;
}

.current-day{
  color: var(--current-day);
}

.selected-day{
  position: relative; 
}

.selected-day::before{
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(to bottom right, var(--current-day) 0%, #3ad5cb 100%);
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index:-1;
}

.week-day-name{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--gray-300);
}

.tasks-on-weekly-calendar-container{
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.task-circle{
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* DAILY TASKS */
.daily-tasks-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 2em;
}
.tasks-on-day{
  font-weight: 400;
}
.display-selected-day{
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--current-day);
}
.task-list{
  background-color: transparent;
  color: var(--dark-gray);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1em;

}
.task-li{
  position: relative;
  padding: 1em;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-400);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3em;
}

.task-priority{
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 0.8em;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--white); 
}

.card-top-section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.time-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.time-container > p {
  color: var(--gray-400);
  font-size: 0.8rem;
  font-weight: 400;
}

.task-name{
  color: var(--white);
  font-weight: 400;
  font-size: 1.1rem;
}
.description-p{
  color: var(--gray-400);
  margin-top: 0.2em;
  font-size: 0.9rem;
  font-weight: 300;
}

/*=== HOME PAGE ===*/

.body-home{
  padding: 2em;
  padding-bottom: 85px;
}

.sorted-task-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1em;
}

.on-going-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-selcet{
  color: var(--white);
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.1em;
  border-radius: 0.5em;
  border: 1px solid var(--gray-500);
}

.due-date{
  font-size: 0.9rem;
  color: var(--gray-500);
}
.delete-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  color: rgb(152, 32, 32);
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
  transition: color 0.15s;
}
.delete-btn:hover{
  color: rgb(238, 9, 9);
}
/* === MEDIA QUERIES === */
