/* === RESETS === */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  user-select: none;
  scroll-behavior:smooth;
  background-color: var(--black);
  background-image: url("assets/bg/");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;
  background-size: cover;
  min-width: 500px;
  min-height: 800px;
}
body{ 
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  line-height: 1.4;
  color: var(--white);
}
h1,h2,h3,h4,p{
  margin: 0;
}
ul, li , a{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

input{
  display: block;
}

img{
  display: block;
  max-width: 100%;
}


/* === VARIABLES  === */

:root{
  --black: #121112;
  --white: #d9d9d9;
  --gray-300: #757575;
  --gray-500: #262626;
  --light-gray: #efeeeea0;
  --dark-gray: #212529;
  --almost-dark-gray: #313232;
  --middle-grey: #6f6f6f;
  --salmon: salmon;
  --current-day: #8d97ef;
  --selected: #fa7e7030;
  --green: #35b849;
  --selceted-green: #35b84938;
  --lightblue-opacity:rgba(173, 216, 230, 0.443);
  --lightblue: lightblue;
}

/* === FONTS SIZE/COLORS === */




/* === BASE STYLES === */

/* Header */
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.month-year{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: 900;
}

/* NAV BAR */
.main-nav{
  width: 90%;
  background-color: var(--gray-500);
  padding: 1.2em 1.8em;
  border-radius: 0.5em;
  position: fixed;
  left: 5%;
  bottom: 1%;
  z-index: 999;
}
.nav-bar-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.open-event-modal-btn{
  border: none;
  background-color: transparent;
  width: 2.7em;
  text-align: center;
}

/* MODALS */ 

.modals-overlay-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  padding-top: 3em;
}

.add-modal-content{
  border-radius: 0.5em;
  border: 1px solid var(--light-gray);
  padding: 2em;
  margin: auto;
  width: 85%;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: stretch;
}

.close-modal-btn{
  border: none;
  background-color: var(--light-gray);
  border-radius: 50%;
  align-self: flex-end;
  padding: 0.5em;
  font-weight: 900;
  font-size: 1.1rem;
  width: 2em;
  color: var(--salmon);
}

.close-modal-btn:hover{
  background-color: var(--selected);
}

.modal-text{
  margin: 0.3em 0;
}

.add-modal-content > div > input{
  border: none;
  border-radius: 0.3em;
  background-color: var(--light-gray);
  width: 100%;
  padding: .6em;
  font-size: 1.2rem;
}

.add-textarea{
  padding: 1em;
  border: none;
  border-radius: 0.3em;
  width: 100%;
  height: 10vh;
  background-color: var(--light-gray);
}

.add-textarea::placeholder{
  color: var(--dark-gray);
  font-size: .9rem;
}

.save-btn{
  border: none;
  border-radius: 0.5em;
  align-self: center;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--green);
  background-color: var(--light-gray);
}

.save-btn:hover{
  background-color: var(--selceted-green);
}

.time-container{
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1em;
}
.time-container > input{
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: var(--light-gray);
  border-radius: 0.3em;
}

.from-to-text{
  margin: 0;
  font-size: 0.9rem;
  color: gray;
}
.time-text{
  margin-bottom: 0;
}
/* Search INPUT*/

/* Weekly calendar */ 

.weekly-calendar-container{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
  border-bottom: 2px solid var(--gray-500);
  padding: 1em 0;
}

.calendar-displaymonth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-btn{
  margin-left: 1em;
  padding:0.5em;
  border-radius: 50%;
  border: 3px solid var(--gray-300);
  background-color: transparent;
}

.toggle-month-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-month{
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

.arrow-btn{
  border: none;
  background-color: transparent;
}

.weekly-calendar-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly-btn{
  border: none;
  color: var(--white);
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  
}
.weekly-calendar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  padding-bottom: 0.5em;
}
.day-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.3em;
}

.day-container > p {
  margin: 0;
}

.date-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-500);
  color: var(--white);
  border-radius: 50%;
  font-weight: 700;
  width: 48px;
  height: 48px;
  background-color: var(--gray-500);
  color: var(--white);
}

.current-day{
  color: var(--current-day);
}

.selected-day{
  background-color: var(--selected);
  border: none;
}

.week-day-name{
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--gray-300);
}

.tasks-on-weekly-calendar-container{
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.task-circle{
  width: 5px;
  height: 5px;
  background-color: var(--lightblue);
  border-radius: 50%;
}

/* DAILY TASKS */
.daily-tasks-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.tasks-on-day{
  font-weight: 500;
}
.display-selected-day{
  font-size: 1.1rem;
  font-weight: 500;
}
.event-list{
  background-color: transparent;
  color: var(--dark-gray);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.5em;

}

.event-li{
  color: var(--white);
  background-color: var(--gray-500);
  font-size: 1rem;
  font-weight: 500;
  padding: 1em;
  border-radius: 0.5em;
}
.note-paragraph{
  color: var(--gray-300);
  margin-top: 0.2em;
  font-size: 0.9rem;
}

/* === MEDIA QUERIES === */
